body {
    text-align: center;
}
#main_container {
    border-right: 1px solid black;
    border-left: 1px solid black;
    width: 80%;
    margin: auto;
    background-color: rgb(236,237,242);
    padding: 30px;
}
header,footer{
    background-color: rgb(54,73,130);
    color: white;
    padding: 30px;
}
#middle-section{
    background-color: rgb(169,171,179);
    padding: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
}
#top-section{
    background-color: rgb(206,204,202);
    padding: 7px;
    margin: 10px;
}
form{
    display: flex;
    justify-content: space-between;
}
form div {
    flex: 1 1 0;
    margin: 0 25px;

}
legend{
    box-sizing: border-box;
    padding: 0;
    width: 100%;
}
#tcolor{
    width: 100%;
}
fieldset{
    padding: 0;
    min-width: 0;
    box-sizing: border-box;
    width: 78%;
}
.big fieldset {
    width: 100%;
}
.big input{
    width: 80%;
}
input{
    width: 45%;
    height: 30px;
    margin-top: -17px;
}
#bgcolor {
    width: 70%;
}
#bwidth{
    width: 40%;
}
#main-section{
    background-color: deepskyblue;
    padding: 5px;
}
#table-render-space{
    padding: 20px;
    background-color: antiquewhite;
    text-align: center;
}

textarea{
    height: 30%;
    width: 100%;
}
#table-html-space{
    padding: 30px 10px 10px;
    background-color: red;
}
label{
    display: none;
}